<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
        <title>Nómina de Escribanos CECBA</title>
    </head>
    <body>
        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h1 class="text-secondary border-success"
                        th:text="${titulo}"></h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/nomina/buscar}" method="get" id="form-cuit">
                        <label for="cuit" class="form-label col-sm-2">Búsqueda</label>
                        <div class="form-group row mt-2">
                            <div class="col-sm-4">
                                <input type="text" id="cuit" name="cuit" class="form-control" placeholder="XX-XXXXXXXX-XX" data-bs-toggle="tooltip" data-bs-placement="top" title="">
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Buscar" class="btn btn-success" />
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="card-header" th:if="${resultado}">
                    <h3 class="text-secondary"
                        th:text="Resultados"></h3>
                </div>
                <div th:if="${error}" class="alert alert-danger">
                    <p th:text="${error}"></p>
                </div>
                <div class="row mt-3"  th:if="${sinResultado}">
                    <label for="cuit" class="form-label col-sm-2" th:text="${sinResultadoMensaje}"></label>
                </div>
                <div class="row mt-3"  th:if="${escribano != null}">
                    <div class="col-sm-2 ml-3">
                        <img th:src="@{'/img/' + ${imgAvatar}}" class="img-thumbnail">
                    </div>
                    <table class="col-sm-6 table table-striped table-bordered">
                        <tbody>
                            <tr th:if="${escribano.nombre != null}">
                                <td>Nombre</td>
                                <td th:text="${escribano.nombre}">Nombre</td>
                            </tr>
                            <tr th:if="${escribano.apellido != null}">
                                <td>Apellido</td>
                                <td th:text="${escribano.apellido}">Apellido</td>
                            </tr>
                            <tr th:if="${escribano.email != null}">
                                <td>Email</td>
                                <td th:text="${escribano.email}">Email</td>
                            </tr>
                            <tr th:if="${escribano.fechaDestitucion != null}">
                                <td>Fecha Destitución</td>
                                <td th:text="${escribano.fechaDestitucion}">FechaDestitucion</td>
                            </tr>
                            <tr th:if="${escribano.barrio != null}">
                                <td>Barrio</td>
                                <td th:text="${escribano.barrio}">Barrio</td>
                            </tr>
                            <tr th:if="${escribano.cargo != null}">
                                <td>Cargo</td>
                                <td th:text="${escribano.cargo}">Cargo</td>
                            </tr>
                            <tr th:if="${escribano.celular != null}">
                                <td>Celular</td>
                                <td th:text="${escribano.celular}">Celular</td>
                            </tr>
                            <tr th:if="${escribano.dias != null}">
                                <td>Días</td>
                                <td th:text="${escribano.dias}">Dias</td>
                            </tr>
                            <tr th:if="${escribano.domicilio != null}">
                                <td>Domicilio</td>
                                <td th:text="${escribano.domicilio}">Domicilio</td>
                            </tr>
                            <tr th:if="${escribano.estado != null}">
                                <td>Estado</td>
                                <td th:text="${escribano.estado}">Estado</td>
                            </tr>
                            <tr th:if="${escribano.horario != null}">
                                <td>Horario</td>
                                <td th:text="${escribano.horario}">Horario</td>
                            </tr>
                            <tr th:if="${escribano.imagen != null}">
                                <td>Imagen</td>
                                <td th:text="${escribano.imagen}">Imagen</td>
                            </tr>
                            <tr th:if="${escribano.localidad != null}">
                                <td>Localidad</td>
                                <td th:text="${escribano.localidad}">Localidad</td>
                            </tr>
                            <tr th:if="${escribano.matricula != null}">
                                <td>Matrícula</td>
                                <td th:text="${escribano.matricula}">Matricula</td>
                            </tr>
                            <tr th:if="${escribano.mostrarImagen != null}">
                                <td>Mostrar Imagen</td>
                                <td th:text="${escribano.mostrarImagen}">MostrarImagen</td>
                            </tr>
                            <tr th:if="${escribano.registro != null}">
                                <td>Registro</td>
                                <td th:text="${escribano.registro}">Registro</td>
                            </tr>
                            <tr th:if="${escribano.sexo != null}">
                                <td>Sexo</td>
                                <td th:text="${escribano.sexo}">Sexo</td>
                            </tr>
                            <tr th:if="${escribano.telefono != null}">
                                <td>Teléfono</td>
                                <td th:text="${escribano.telefono}">Telefono</td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
    

        <footer th:replace="layout/layout :: footer"></footer>
        <script th:src="@{/js/form.js}"></script>
    </body>
</html>
